 @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap'); /*importa a fonte do google fonte */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');

body{
    background-color: pink;
    margin: 20px;
}
#cabeçalho{
    color: pink;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

a{
    color: rgb(26, 24, 24);
    text-decoration: none; /*decoração do texto*/
}
.titulo_principal{
    font-style: italic; /*muda o estilo da fonte*/
    font-weight: bolder; /*Muda a grossura da fonte(Peso da fonte)*/
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.titulo2{
    color: rgb(247, 176, 188);
    font-family: "Bitcount Prop Single Ink", system-ui; /*muda a fonte (são várias porque se caso uma não tiver o programa busca a próxima*/
}
.div{
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    padding: 10px
}
p{
    font-family: "Libertinus Keyboard", system-ui;
    font-weight: 400;
    font-style: normal; 
}